{% extends 'admin_index.html' %}
{% block content %}
<h2 id="form_heading" style="position: absolute;left: 50%;"><b>Add Cast</h2><br>
    <br><br><br>
<div class="card card-primary col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="margin-left: 20%;">
    <div class="card-header">
      <h3 class="card-title">Add Cast</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
     {% for i in details %}
    <form action="{% url 'add_cast' i.id  %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Actor Name</label>
          <input type="text" class="form-control" name="actor_name" id="exampleInputEmail1" placeholder="Enter film name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Actor Image</label>
            <input type="file" class="form-control" name="actor_image" id="exampleInputEmail1" placeholder="Enter email">
          </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
      {% endfor %}
      
      <!-- /.card-body -->

      
{% endblock %}
